@font-face {
	font-family: "Mkana+";
	src: local("Mkana+"),
	     url("/fonts/mkanaplus.woff2") format("woff2"),
	     url("/fonts/mkanaplus.woff") format("woff");
	font-display: swap;
}
html {
	font-size: 62.5%;
}
body {
	font-size: 1.6rem;
	font-family: "Mkana+";
}
table {
	border-collapse: collapse;
}